# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# environment
.env*

# editor configs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# system files
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
